<div class="layout-wrapper">
  <!-- Header -->
  <header class="layout-header">
    <div class="header-container">
      <p-button label="Home" icon="pi pi-home" (click)="navigateHome()" />
      <h1>Sistema de Gerenciamento de Livros</h1>
    </div>
  </header>

  <!-- Conteúdo do Layout -->
  <div class="layout-content">
    <!-- Menu Lateral -->
    <nav class="layout-menu">
      <ul>
        <li (click)="navigateTo('books')">Livros</li>
        <li (click)="navigateTo('authors')">Autores</li>
        <li (click)="navigateTo('categories')">Categorias</li>
        <li (click)="navigateTo('genres')">Gêneros</li>
      </ul>
    </nav>

    <!-- Área Principal de Conteúdo -->
    <section class="layout-main">
      <p-card>
        <router-outlet></router-outlet>
        <!-- Conteúdo principal será renderizado aqui -->
      </p-card>
    </section>
  </div>
</div>
